[project]

name = "romsearch"
version = "0.0.3"
description = "One Stop ROM Shop"
readme = "README.md"
requires-python = ">=3.9"
license = {file = "LICENSE"}

authors = [
    {name = "bbtufty"},
]
maintainers = [
    {name = "bbtufty"},
]

classifiers = [
    #   3 - Alpha
    #   4 - Beta
    #   5 - Production/Stable
    "Development Status :: 3 - Alpha",

    # License
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",

    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3 :: Only",
]

dependencies = [
    "discordwebhook",
    "numpy",
    "packaging",
    "pathvalidate",
    "pyyaml",
    "xmltodict",
]

[project.optional-dependencies]
docs = [
    "sphinx-automodapi",
    "sphinx-rtd-theme",
]

[project.urls]
"Homepage" = "https://github.com/bbtufty/romsearch"
"Bug Reports" = "https://github.com/bbtufty/romsearch/issues"
"Source" = "https://github.com/bbtufty/romsearch"

[build-system]
requires = [
    "setuptools>=43.0.0",
    "wheel",
    "setuptools_scm",
]

build-backend = "setuptools.build_meta"